@import 'ProximaNova.scss';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic, 700italic);

body{
  height: 100%;
  width: 100%;
  background:#fff;
  margin: 0;
  font-family: Lato;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
}
*{
  box-sizing: border-box; 
  transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -ms-transition:0.2s ease all;
  -o-transition:0.2s ease all;
}
.text-right{
  text-align: right;
}
a{
  text-decoration: none;
  color: inherit;
}
.splash{
  background: url(../img/back.jpg);
  min-height: 100%;
  width: 100%;
  background-size:cover;
  color: #fff;
  padding-bottom: 40px;
  // box-sizing:content-box;

  img.logo{
    width: 100px;
    float: left;
  }
  .nav{
    padding: 20px;

    a{
      text-transform: uppercase;
      margin-left: 20px;
      position: relative;
      top:10px;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(255,255,255,0);
    }
    a:hover{
      border-bottom: 1px solid rgba(255,255,255,1);
    }
  }
  h1.hero{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 100;
    margin: auto;
    display: table;
    margin-top: 150px;
    line-height: 1;
    b{
      font-weight: 700;
    }
  }
  .down{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border:1px solid #fff;
    position: relative;
    margin: auto;
    margin-top: 200px;
    background: rgba(0,0,0,0);
    cursor: pointer;

    i{
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -9px;
    }
  }
  .down:hover{
      background: rgba(0,0,0,0.4);
  }
}

.fluid-container{
  width: 100%;
  padding: 40px;
}

.container{
  width: 80%;
  max-width: 800px;
  margin: auto;
}


p{
  text-align: justify;
  max-width: 1024px;
  margin: auto;
}

.row{
  width: 100%;
}
h2{
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}
.col-4{
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 24%;
}
.text-center{
  text-align: center;
}
.marginTop20{
  margin-top: 20px;
}
.marginTop40{
  margin-top: 40px;
}
.coolNumbers{
  b{
    font-size: 1.5em;
  }
  span{
    text-transform: uppercase;
  }
}
p.quote{
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.whySection{
  color: #333;
  background: #f3f3f3;
}

.eventSection{
  color: #333;

  .eventDetails p{
    margin-top: 10px;
  }

  .col-3-float:before{
    content: "Sexy";
    position: absolute;
    content: '\f1b9';
    font-family: FontAwesome;
    color: rgb(219, 77, 77);
    left: -9px;
  }
}

p.eventDetails{
  text-align: center;
  font-size: 12px;
  margin-top: -10px;
}
.col-3-float{
  float: left;
  width: 33%;
  padding: 20px;
  position: relative;
}
.clear{
  clear: both;
}

.tdaySection{
  background: url('../img/tdayBack.jpg');
  background-size: cover;
}
.highlightReel{
  width: 90%;
  max-width: 1080px;
  height: 300px;
  margin:auto;
  overflow: hidden;

  h2{
    color: #fff;
    font-weight: 700;
    margin-top: 50%;
    position: relative;
    top: -50px;
  }
  .highlight{
    width: 33.33%;
    height: 300px;
    float: left;
    background-size: cover;
    cursor: pointer;
    // background: url('../img/tday1Col.jpg');
  }
  .speakers{
    background: url('../img/tday1Col.jpg');
    background-size: auto 100%;
    background-position: center;
  }
  .speakers:hover{
    background-size: auto 130%;
  }
  .swag{
    background: url('../img/tday2Col.jpg');
    background-size: auto 100%;
    background-position: center;
  }
  .swag:hover{
    background-size: auto 130%;
  }
  .workshops{
    background: url('../img/tday3Col.jpg');
    background-size: auto 100%;
    background-position: center;
  }
  .workshops:hover{
    background-size: auto 130%;
  }
  .highlightDetail{
    width: 100%;
    height: 300px;
    clear: both;
    position: relative;
    background-size: cover;
  }
  .highlightContent{
    position: relative;
    top: 0px;
    // top: -300px;

    .col3{
      width: 25%;
      height: 300px;
      float: left;

      h2{
        margin-top: 50%;
        position: relative;
        top: -21px;
      }

      img{
        width: 100%;
        position: relative;
        margin-top: 50%;
        top: -80px;
      }
    }
    .col6{
     width: 50%;
     height: 300px;
     float: left; 

     p{
      padding: 40px;
      // text-align: center;
      margin-top: 40px;
      color: rgba(255,255,255,0.5);
     }
    }

    .cross{
      position: absolute;
        top: 6px;
        right: 16px;
        color: #eee;
        font-size: 20px;
        cursor: pointer;
    }
  }
}